DATABASE_URL = # The url to your a database connection
SECRET_KEY = # Secret key to encode and decode jwt tokens
ALGORITHM = # The algorithm to decode and encode the tokens
ACCESS_TOKEN_EXPIRE_MINUTES = # TTL for the jwt token
CLOUDINARY_API_SECRET = # Cludinary Secret Key
CLOUDINARY_API_KEY = # Cludinary API key
CLOUDINARY_CLOUD_NAME = # Cludinary cloud name